body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: rgb(191, 191, 191);
}
a {
  text-decoration: none;
}

.wrapper {
  width: 100%;
  max-width: 1366px;
  background-color: rgb(246, 245, 245);
  margin: 0 auto;
  display: block;
  box-shadow: 1px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 1);
}
.background-image {
  background-image: url('../images/bryce-evans-202182.jpg');
  /*position: absolute;*/
  background-size: contain;
  background-repeat: no-repeat;
}

/*********** 1. TOP ***********/

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
}

/* 1a. MENU */

.menu {
  grid-row: 1;
  grid-column: span 12;
  margin: 40px 10% 8.5% 10%;
}
.logo > a img {
  position: absolute;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.logo > a:hover img.hover {
  opacity: 0;
}
.links {
  display: flex;
  padding-top: 15px;
}
.links > div:first-child {
  margin-left: auto;
}
a.link {
  font-size: 0.9em;
  padding: 20px;
  color: rgb(0, 0, 0);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
a.link:hover {
  color: rgb(165, 165, 165);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

/* top menu and links using lists and grid

.menu {
  grid-row: 1;
  grid-column: span 12;
  margin-top: 20px;
  margin-bottom: 8%;
}
.menu-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 55px;
}
.logo {
  grid-column: 2;
}
.logo > a img {
  font-size: 0.9em;
  color: rgb(0, 0, 0);
  position: absolute;
  height: 52px;
  width: 50px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.logo > a:hover img.hover {
  opacity: 0;
}
.links {
  grid-column: 3 / 11;
  justify-self: right;
}
.links > ul {
  display: inline-block;
  padding-left: 0;
  font-size: 0.9em;
}
.links > ul > li {
  list-style: none;
  float: left;
  padding-left: 30px;
}
.links > ul > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
.links > ul > li > a:hover {
  color: rgb(131, 131, 131);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}*/

a.btn {
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 12px 30px;
  background-color: rgb(90, 144, 186);
  border-radius: 30px;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  transition: background-color 5s;
}
a.btn:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(173, 212, 235);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

/* 1b. Header content */

.name {
  font-size: 1.9em;
  font-weight: 300;
  margin-bottom: 0.5%;
  grid-row: 2;
  grid-column: span 12;
  justify-self: center;
}
.position {
  font-size: 3em;
  font-weight: 700;
  color: rgb(78, 142, 181);
  margin-bottom: 1.5%;
  grid-row: 3;
  grid-column: span 12;
  justify-self: center;
}
.line {
  background-image: url('../images/line.png');
  grid-row: 4;
  grid-column: span 12;
  height: 2px;
  width: 167px;
  justify-self: center;
}
.description {
  font-size: 1.2em;
  line-height: 22pt;
  font-weight: 500;
  color: rgb(50, 51, 53);
  grid-row: 5;
  grid-column: span 12;
  justify-self: center;
  width: 570px;
  margin-top: 1.5%;
  text-align: center;
}
.button {
  margin-top: 7%;
  grid-row: 6;
  grid-column: span 12;
  justify-self: center;
}
.button > a {
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 18px 40px;
  background-color: rgb(90, 144, 186);
  border-radius: 30px;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  transition: background-color 5s;
}
.button > a:hover {
  background-color: rgb(173, 212, 235);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

/* End of TOP */

/*************** 2. MAIN CONTENT ***************/

.content {
  margin-top: 28%;
}

/* 2a. Intro */
.intro {
  background-color: rgb(255, 255, 255);
  margin: 6.5% auto auto auto;
  max-width: 1040px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}
.intro__photo {
  grid-column: 1;
  grid-row: 1;
}
.intro__content {
  grid-column: 2;
  grid-row: 1;
  color: rgb(90, 144, 186);
  font-size: 2.1em;
  font-weight: 500;
  margin: 5% 5% 2% 6%;
}
.intro__content p {
  font-size: 0.5em;
  font-weight: 400;
  color: rgb(0, 0, 0);
  line-height: 23pt;
}
.social {
  margin: 2.5% auto auto auto;
  max-width: 1040px;
}

/* 2b. Portfolio */

.portfolio {
  margin-top: 150px;
  margin-bottom: 100px;
}
.portfolio__title {
  padding-bottom: 20px;
  padding-left: 20%;
  font-size: 1.8em;
  font-weight: 500;
}
.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto 5%;
}
.portfolio__block {
  height: 270px;
  width: 200px;
  margin: 2%;
  -webkit-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s;
}
.portfolio__block:hover {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.1s;
  transform: scale(0.99, 0.99);
}
.portfolio .button {
  text-align: center;
  margin-top: 100px;
}

/* 3b. Feedback */

/* End of Main Content */

/*************** FOOTER *****************/

.footer {
  padding: 50px;
}

/* End of Footer */

/************* RESPONSIVE STARTS HERE ************/

/*@media (max-width: 1300px) {
  .menu {
    margin-bottom: 7%;
  }
}
@media (max-width: 1200px) {
  .menu {
    margin-bottom: 6%;
  }
}
@media (max-width: 1100px) {
  .menu {
    margin-bottom: 5%;
  }
  .content {
    margin-top: 20%;
  }
}*/
@media (max-width: 1027px) {
  .menu {
    margin-bottom: 4%;
  }
  .content {
    margin-top: 20%;
  }
  .intro {
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 536px;
  }
  .intro__photo {
    grid-column: 1;
    grid-row: 1;
  }
  .intro__content {
    grid-column: 1;
    grid-row: 2;
  }
  .intro__content p {
    color: rgb(0, 0, 0);
    line-height: 20pt;
  }
  .social {
    margin: 2% auto 5% auto;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .menu {
    margin-top: 20px;
    margin-bottom: 6%;
  }
}

@media (max-width: 768px) {
  .name {
    font-size: 1.7em;
  }
  .position {
    font-size: 2.5em;
  }
  .description {
    font-size: 1.1em;
    width: 500px;
  }
  .button {
    margin-top: 6%;
  }
}

@media (max-width: 672px) {
  .menu {
    margin: 15px 0 5% 0;
  }
  .logo {
    margin-left: 5%;
  }
  .links > div:last-child {
    margin-right: 22%;
  }
  a.link {
    font-size: 1em;
    font-weight: 700;
    padding: 20px;
    color: rgb(77, 77, 77);
  }
  .btn {
    display: none;
  }
  .name {
    font-size: 1.5em;
  }
  .position {
    font-size: 2em;
  }
  .button {
    margin-top: 5%;
  }
}

@media (max-width: 600px) {
  .links > div:last-child {
    margin-left: -20px;
  }
  .name {
    font-size: 1.4em;
  }
  .position {
    font-size: 1.8em;
  }
  .description {
    font-size: 1em;
    line-height: 18pt;
    width: 450px;
  }
  .button {
    margin-top: 6%;
  }
  .button > a {
    font-size: 0.9em;
    font-weight: 700;
    padding: 15px 35px;
    border-radius: 30px;
  }
}

@media (max-width: 555px) {
  .links > div:last-child {
    margin-left: -30px;
  }
  .menu {
    margin-top: 5px;
  }
  .description {
    font-size: 0.95em;
    width: 430px;
  }
  .button {
    margin-top: 4%;
  }
}

@media (max-width: 500px) {
  .links > div:last-child {
    margin-left: -50px;
  }
  .name {
    font-size: 1.2em;
  }
  .position {
    font-size: 1.5em;
  }
  .description {
    font-size: 0.8em;
    font-weight: 700;
    line-height: 16pt;
    width: 360px;
  }
  .button {
    margin-top: 5%;
  }
  .button > a {
    font-size: 0.9em;
    font-weight: 700;
  }
}

@media (max-width: 460px) {
  a.link {
    padding: 15px;
  }
  .links > div:last-child {
    margin-left: -50px;
  }
  .description {
    line-height: 15pt;
  }
  .button {
    margin-top: 4%;
  }
  .button > a {
    padding: 10px 30px;
    border-radius: 30px;
  }
}
