body {
  background-color: rgb(246, 246, 246);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}
.wrapper {
  width: 100%;
  max-width: 1366px;
  height: 2000px;
  background-color: rgb(254, 254, 254);
  margin: 0 auto;
  display: block;
}
.background-image {
  background-image: url('images/bryce-evans-202182.jpg');
  /*position: absolute;*/
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 9999;
}

/*********** 1.TOP ***********/

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  border: 1px solid black;
}

/* 1a. MENU */

.header > .menu {
  grid-row: 1;
  grid-column: span 12;
  margin-top: 20px;
  margin-bottom: 8%;
}
.header > .menu-wrap {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 55px;
}
.menu > .logo {
  grid-column: 2;
}
.logo > a img {
  font-size: 0.9em;
  color: rgb(0, 0, 0);
  position: absolute;
  height: 52px;
  width: 50px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.logo > a:hover img.hover {
  opacity: 0;
}
.menu > .links {
  grid-column: 3 / 11;
  justify-self: right;
}
.menu > .links > ul {
  display: inline-block;
  padding-left: 0;
  font-size: 0.9em;
}
.menu > .links > ul > li {
  list-style: none;
  float: left;
  padding-left: 30px;
}
.menu > .links > ul > li > a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
.menu > .links > ul > li > a:hover {
  color: rgb(131, 131, 131);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}
.menu > .links > ul > li > a.project-button {
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 15px 30px;
  background-color: rgb(90, 144, 186);
  border-radius: 30px;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  transition: background-color 5s;
}
.menu > .links > ul > li > a.project-button:hover {
  background-color: rgb(173, 212, 235);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

/* 1b. Header content */

.header > .name {
  font-size: 1.9em;
  font-weight: 300;
  margin-bottom: 1%;
  grid-row: 2;
  grid-column: span 12;
  justify-self: center;
}
.header > .position {
  font-size: 3em;
  font-weight: 700;
  color: rgb(78, 142, 181);
  margin-bottom: 2%;
  grid-row: 3;
  grid-column: span 12;
  justify-self: center;
}
.header > .line {
  background-image: url(images/line.png);
  grid-row: 4;
  grid-column: span 12;
  height: 2px;
  width: 167px;
  justify-self: center;
}
.header > .description {
  font-size: 1.2em;
  line-height: 20pt;
  font-weight: 500;
  color: rgb(50, 51, 53);
  grid-row: 5;
  grid-column: span 12;
  justify-self: center;
  width: 570px;
  margin-top: 2%;
  text-align: center;
}
.header > .button {
  margin-top: 5%;
  grid-row: 6;
  grid-column: span 12;
  justify-self: center;
}
.header > .button > a {
  text-decoration: none;
  font-size: 1.1em;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 20px 40px;
  background-color: rgb(90, 144, 186);
  border-radius: 30px;
  -webkit-transition: background-color 5s;
  -moz-transition: background-color 5s;
  -o-transition: background-color 5s;
  transition: background-color 5s;
}
.header > .button > a:hover {
  background-color: rgb(173, 212, 235);
  -webkit-transition: background-color 1s;
  -moz-transition: background-color 1s;
  -o-transition: background-color 1s;
  transition: background-color 1s;
}

/* End of TOP */

/*************** CONTENT ***************/

.content {
  border: 1px solid black;
  padding: 50px;
  margin-top: 18.5%;
}

/* End of Content */

/*************** FOOTER *****************/

.footer {
  border: 1px solid black;
  padding: 50px;
}

/****** Responsive starts *******/
@media (max-width: 1300px) {
  .content {
    margin-top: 18%;
  }
  .header > .menu {
    margin-bottom: 7%;
  }
}
@media (max-width: 1200px) {
  .content {
    margin-top: 17.5%;
  }
  .header > .menu {
    margin-bottom: 6%;
  }
}
@media (max-width: 1100px) {
  .content {
    margin-top: 16.2%;
  }
  .header > .menu {
    margin-bottom: 5%;
  }
}
@media (max-width: 1000px) {
  .content {
    margin-top: 15.3%;
  }
  .header > .menu {
    margin-bottom: 4%;
  }
}
@media (max-width: 900px) {
  .content {
    margin-top: 12.8%;
  }
  .header > .menu {
    margin-bottom: 3%;
  }
}
@media (max-width: 850px) {
  .content {
    margin-top: 11%;
  }
}
@media (max-width: 750px) {
  .content {
    margin-top: 6.5%;
  }
}


